
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
   integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>



   <div class="background">

      <div class="showcase">
         <h1>Shopping For Electronics has never been easier!</h1><br>
         <div id="Showcasebox">

         </div>
      </div>


      <div class="Signupbox">
         <div class="SignupContent">

            <span>
               <h1>Sign Up</h1>
            </span>
            <div class="alternatesignup">


               <button id="googlebutton">Sign up with Google</button>
               <button id="facebookbutton">Sign up with Facebook</button>







            </div>


            <hr  class="divider">



            <form method="POST" id="SignUp-Form">
               <input type="email" placeholder="Email" id="Email" name="Email" required><br>
               <input type="text" placeholder="Username"  id="Username" name="Username" required minlength = "5"><br>
               <input type="password" placeholder="Password"  id="Password" name="Password" required minlength="8"><br>
               <!-- <input type="submit" value="Sign Up" id="Submit-Button"><br> -->
            </form>
            <button id="Register-Button">
               <text id="Button-Text">Sign Up</text>
               <span class="" id="Loader" style="width: 20px; height: 20px;"></span>
               
            </button>

            <p class="Login-Link">Already Have an Account? <a href="/login">Log In</a></p>





         </div>
      </div>







   </div>


</body>
<script type="module" src="javascript/Signup.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


</html>