
* {
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100vh;
	width: 100vw;
	min-height: 500px;
}

.background {
	display: grid;
	grid-template: repeat(1, 1fr)/ 5fr 3fr;
	background-color: #1F363D;
	width: 100vw;
	height: 100vh;
	overflow: scroll;
}

.SignupContent {
	width: 80%;
	background-color: #E9E3E6;
	border-radius: 15px;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px
}

.Signupbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.SignupContent>span {
	font-family: Arial;
}

.alternatesignup {
	/* display: grid;
    grid-template-columns: repeat(16, 1fr); */
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}

.divider {
	width: 95%;
	margin-top: 20px;
	height: 100px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	opacity: 1;
}

input[type=text],
input[type=password], input[type=email] {
	width: 90%;
	padding: 10px;
	margin: 20px 0;
	box-sizing: border-box;
	border-color: black;
	border-width: 1px;
	border-radius: 5px;
	box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.25);
}

#Login-Button, #Register-Button{
	background-color: #000080;
	width: 90%;
	color: white;
	margin: 30px 0;
	padding: 15px;
	border-radius: 3px;
	border: 0;
	box-shadow: 0px 5px 5px -2px rgb(0, 0, 0, 0.25);
	cursor: pointer;
}

#Login-Button:hover, #Register-Button:hover {
	background-color: #03035f;
}

#facebookbutton {
	width: 180px;
	font-size: 15px;
	background-color: #4267B2;
	border-color: #4267B2;
	color: white;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 5px 5px -2px rgb(0, 0, 0, 0.25);
}

#facebookbutton:hover {
	background-color: #36538f;
}

#googlebutton {
	width: 180px;
	height: 50px;
	font-size: 15px;
	background-color: #4285F4;
	border-color: #4285F4;
	color: white;
	border-radius: 3px;
	border: none;
	box-shadow: 0px 5px 5px -2px rgb(0, 0, 0, 0.25);
}

#googlebutton:hover {
	background-color: #3872ce;
}


#ErrMessage{
	color: red;
}
/**/

input:placeholder-shown {
	font-style: italic;
	padding-left: 15px;
}

.showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin-top: 30px;
	justify-items: center;
}

.showcase>h1 {
	font-size: 30px;
}

